.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: $border-primary;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(max, $bp-500) {
    flex-wrap: wrap;
    align-content: space-evenly;
    height: 11rem;
  }
}
